@model Model.Entrega

@{
    Layout = "_LayoutCliente";
    ViewData["Title"] = "Create";
}
<div class="w3-cell-row">

    <div class="w3-cell w3-mobile w3-border-top w3-border-bottom w3-border-black" style="width:100%;height:100vh;padding:0;overflow:auto;display:grid">

        <!--Google map-->
        <!--<div id="map-container" class="z-depth-1-half map-container" style="height: 100vh">
            <iframe src="https://maps.google.com/maps?q=aracaju&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                    style="border:0" allowfullscreen></iframe>
        </div>-->

        <!--<div style="overflow: auto;height: 100vh">
            <h3>escrito algo</h3>
            <h3>escrito algo</h3>
            <h3>escrito algo</h3>
            <h3>escrito algo</h3>
            <h3>escrito algo</h3>
            <h3>escrito algo</h3>
            <h3>escrito algo</h3>
            <h3>escrito algo</h3>
            <h3>escrito algo</h3>
            <h3>escrito algo</h3>
            <h3>escrito algo</h3>
            <h3>escrito algo</h3>
            <h3>escrito algo</h3>
        </div>-->

        <h3 class="w3-border-bottom w3-border-black w3-middle text-center mt-4" style="padding-bottom:25px">Dados da Entrega</h3>
            <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="container-fluid" style="padding:15px">
                <div class="container w3-border-bottom w3-border-black" style="padding:15px">
                    <h3>Endereço de Retirada</h3>
                    <div class="form-group">
                        <label class="control-label">Rua</label>
                        <input class="form-control" type="text" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Numero</label>
                        <input class="form-control" type="number" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Complemento</label>
                        <input class="form-control" type="text" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Bairro</label>
                        <input class="form-control" type="text" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Cidade</label>
                        <input class="form-control" type="text" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">O que o entregador deve fazer ?</label>
                        <textarea class="form-control"></textarea>
                    </div>
                </div>

                <div class="container w3-border-bottom w3-border-black" style="padding:15px">
                    <h3>Endereço de Destino</h3>
                    <div class="form-group">
                        <label class="control-label">Rua</label>
                        <input class="form-control" type="text" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Numero</label>
                        <input class="form-control" type="number" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Complemento</label>
                        <input class="form-control" type="text" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Bairro</label>
                        <input class="form-control" type="text" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Cidade</label>
                        <input class="form-control" type="text" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">O que o entregador deve fazer ?</label>
                        <textarea class="form-control"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Origem" class="control-label"></label>
                    <input asp-for="Origem" class="form-control" />
                    <span asp-validation-for="Origem" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Destino" class="control-label"></label>
                    <input asp-for="Destino" class="form-control" />
                    <span asp-validation-for="Destino" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descricao" class="control-label"></label>
                    <input asp-for="Descricao" class="form-control" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CodUsuarioCliente" class="control-label"></label>
                    <input asp-for="CodUsuarioCliente" class="form-control" />
                    <span asp-validation-for="CodUsuarioCliente" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" style="background-color:black; border-color:black" />
                </div>
            </div>

        </form>
    </div>

    <div class="w3-cell w3-mobile w3-border w3-border-black" style="width: 60%;padding:0;">
        <!--Google map-->
        <div id="map-container" class="z-depth-1-half map-container" style="height: 100vh">
            <iframe src="https://maps.google.com/maps?q=itabaiana&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                    style="border:0" allowfullscreen></iframe>
        </div>
    </div>


</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
