@model Model.Entrega

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Entrega</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodEntrega" class="control-label"></label>
                <input asp-for="CodEntrega" class="form-control" />
                <span asp-validation-for="CodEntrega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Origem" class="control-label"></label>
                <input asp-for="Origem" class="form-control" />
                <span asp-validation-for="Origem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destino" class="control-label"></label>
                <input asp-for="Destino" class="form-control" />
                <span asp-validation-for="Destino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodUsuarioCliente" class="control-label"></label>
                <input asp-for="CodUsuarioCliente" class="form-control" />
                <span asp-validation-for="CodUsuarioCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodUsuarioEntregador" class="control-label"></label>
                <input asp-for="CodUsuarioEntregador" class="form-control" />
                <span asp-validation-for="CodUsuarioEntregador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
