@model Model.Usuario

@{
    ViewData["Title"] = "Create";
}

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <div class="row">
        <i class="fas fa-file-alt" style="font-size:36px;color:black; margin-left: 20px;margin-right:20px " ></i>
        <h1>Cadastro</h1>
    </div>

<h4>Preencha os campos abaixo</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Cpf" class="control-label"></label>
                <input asp-for="Cpf" class="form-control" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" value="@ViewBag.userName" readonly/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Confirmar" style="background-color:black; border-color:black" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
