@model Model.Veiculo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Veiculo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodVeiculo" class="control-label"></label>
                <input asp-for="CodVeiculo" class="form-control" />
                <span asp-validation-for="CodVeiculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <input asp-for="Categoria" class="form-control" />
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Placa" class="control-label"></label>
                <input asp-for="Placa" class="form-control" />
                <span asp-validation-for="Placa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Renavam" class="control-label"></label>
                <input asp-for="Renavam" class="form-control" />
                <span asp-validation-for="Renavam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ano" class="control-label"></label>
                <input asp-for="Ano" class="form-control" />
                <span asp-validation-for="Ano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmUso" class="control-label"></label>
                <input asp-for="EmUso" class="form-control" />
                <span asp-validation-for="EmUso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodDono" class="control-label"></label>
                <input asp-for="CodDono" class="form-control" />
                <span asp-validation-for="CodDono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
